.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.container-fluid {
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-actual-temperature {
  font-size: 2.8rem;
  font-weight: bold;
}

.text-actual-temperature-time {
  font-size: .8rem;
  color: dimgray;
}

.text-target-temperature { 
  font-size: 1.5rem;
  color: dimgray;
  width: 4rem;
  border: 1px solid #e9ecef;
  background-color: aliceblue;
}

.text-indicator-heat {
  background-color: #dc3545;
  color: white;
  width: 4rem;
}

.text-indicator-cool {
  background-color: #2196F3;
  color: white;
  width: 4rem;
}

.text-indicator-neutral {
  background-color: #adb5bd;
  color: white;
  width: 4rem;
}
